<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(find solution)/maps/map1.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Localization -->
  <arg name="initial_pose_x" default="-5.0"/>
  <arg name="initial_pose_y" default="-8.688807"/>
  <arg name="initial_pose_a" default="-3.125"/>
  
  <include file="$(find solution)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

</launch>